.country {
  background-color: var(--branco);
  margin: 1em 1em;
  border-radius: 5px;
  cursor: pointer;
  list-style-type: none;
  max-width: 100vw;
}

.country:hover {
  scale: 1.1;
  box-shadow: 1px 1px 5px black;
}

.country-img{
  text-align: center;
}

.country-img > img {
  max-width: 100%;
  height: 200px;
  border-radius: 5px;
}

.container__info-country,
.container__info-country-2 {
  padding: 2.5em 1em;
}

.name-country {
  margin-bottom: 1.5em;
}

.p-country {
  margin-bottom: 0.5em;
}

.country-label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.country-btn {
  display: none;
}

@media screen and (min-width: 1440px) {
  /* TELA PRINCIPAL - PAÃSES */
  .countries-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
  }

  .container__country {
    margin: none;
    width: 15vw;
  }

  .country-label > img {
    height: 180px;
    width: 15vw;
  }

  .country-img > img {
    width: 100%;
  }
  
  .country {
    background-color: var(--branco);
    margin: 2em 2em;
    width: 16%;
  }
}

