.country {
  background-color: var(--branco);
  margin: 2em 0;
  border-radius: 5px;
  cursor: pointer;
  list-style-type: none;
  font-size: 1.5em;
}

.country:hover {
  scale: 1.1;
  box-shadow: 1px 1px 5px black;
}

.country-img > img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.container__info-country {
  padding: 2.5em 1em;
}

.name-country {
  margin-bottom: 1.5em;
}

.p-country {
  margin-bottom: 0.5em;
}

.country-label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.country-btn {
  display: none;
}

@media screen and (min-width: 1440px) {
  /* TELA PRINCIPAL - PAÃSES */
  .countries-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 3em;
    column-gap: 4em;
  }

  .country {
    margin: none;
    width: 16vw;
  }

  .country-label > img {
    height: 180px;
    width: 15vw;
  }
}
