.container__pais{
  background-color: var(--branco);
  margin: 2em 2em;
  border-radius: 5px;
  transition: 300ms;
}

.container__pais:hover{
  scale: 1.1;
  box-shadow: 1px 1px 5px black ;
}

.container__pais > img{
  width: 100%;
  border-radius: 5px;
}

.container__info-pais, .container__info-pais-2{
  padding: 2.5em 1em;
}

.nome-pais {
  margin-bottom: 1.5em;
}

.paragrafo-pais {
  margin-bottom: 0.5em;
}

.pais-label {
  display: flex;
  flex-direction: column;
}

.pais-btn {
  display: none;
}

/* CARDS */
.container__card{
  margin: 2em, 1.5em;
  padding: 1em;
}

.voltar-btn{
  padding: 0.3em 1.5em;
  margin-bottom: 3em;
  font-family: "Overpass", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  border: none;
  box-shadow: 2px 2px 2px rgb(182, 182, 182);
}

.container__card > img{
  width: 100%;
}

.container__info-card > h2{
  margin-top: 2em;
}

.container__info-card-2{
  padding-top: 2em;
}

/* HIDDEN */
.hidden, .hiddenFiltro {
  display: none;
}