.country{
  background-color: var(--branco);
  margin: 2em 2em;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;
  list-style-type: none;
}

.country:hover{
  scale: 1.1;
  box-shadow: 1px 1px 5px black ;
}

.country > img{
  width: 100%;
  border-radius: 5px;
}

.container__info-country, .container__info-country-2{
  padding: 2.5em 1em;
}

.name-country {
  margin-bottom: 1.5em;
}

.p-country {
  margin-bottom: 0.5em;
}

.country-label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.country-btn {
  display: none;
}

/* CARDS */
.container__card{
  margin: 2em, 1.5em;
  padding: 1em;
}

.voltar-btn{
  padding: 0.3em 1.5em;
  margin-bottom: 3em;
  font-family: "Overpass", sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  border: none;
  box-shadow: 2px 2px 2px rgb(182, 182, 182);
  cursor: pointer;
}

.container__card > img{
  width: 100%;
}

.container__info-card > h2{
  margin-top: 2em;
}

.container__info-card-2{
  padding-top: 2em;
}

@media screen and (min-width: 1440px) {
  /* TELA PRINCIPAL - PAÃSES */
  .countries-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
  }

  .container__country {
    margin: none;
    width: 15vw;
  }

  .country-label > img {
    height: 180px;
    width: 15vw;
  }

  /* HIDDEN */
  .hidden,
  .hiddenFiltro {
    display: none;
  }

  /* CARDS */
  .container__card {
    display: flex;
    flex-direction: column;
    margin: 5em 15em;
  }

  .voltar-btn{
    max-width: 10%;
  }

  .container__conteudo{
    display: flex;
    justify-content: space-between;
  }

  .container__conteudo>img{
    max-width: 40%;
  }

  .container__informacoes-card{
    display: flex;
    column-gap: 10em;
    align-items: center;
  }

  .paragrafo-card{
    padding-bottom: 0.5em;
  }

}