.container__pais {
  background-color: var(--branco);
  margin: 2em 2em;
  border-radius: 5px;
  transition: 300ms;
}

.container__pais:hover{
  scale: 1.1;
  box-shadow: 1px 1px 5px black ;
}

.container__pais > img {
  width: 100%;
  border-radius: 5px;
  margin: 5em;
}

.container__info-paises {
  padding: 2.5em 1em;
}

.nome-pais {
  margin-bottom: 1.5em;
}

.paragrafo-pais {
  margin-bottom: 0.5em;
}

.pais-label {
  display: flex;
  flex-direction: column;
}

.pais-btn {
  display: none;
}

.hidden {
  display: none;
}