.pesquisa{
    background: url(/img/lupa.png);
    background-repeat: no-repeat;
    background-position: 1.3em;
    padding: 1em;
    padding-left: 3.3em;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--branco);
}

.pesquisa::placeholder{
    color: #9F9F9F;
    font-family: 'Overpass', sans-serif;
}

@media screen and (min-width: 1440px) {
    /* CABEÇALHO */
    .cabecalho{
      padding: 2em 8em;
    }
    
    /* PESQUISA */
    .container__filtro-pesquisa {
      display: flex;
      align-items: center;
      margin: 0 4em;
      padding: 0 1.5em;
      justify-content: space-between;
    }
  
    .container__pesquisa > input {
      width: 25vw;
    }
}